<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>

<hr style="background-color: white;">

<br>
<h1> Unser Blog</h1><br>

<hr>
<ul>
    <li th:each="post : ${PostList}">
<!--        ID: <div th:text="${post.id}"></div>-->
        Post: <div th:text="${post.textPost}"></div>
        <br>
        Zeitpunkt: <span th:text="${post.dateTime}"></span>
        <br>
        <a th:href="@{/blog/comment/{postId}(postId=${post.getId()})}">Kommentare</a>
        <br>
        <br>
    </li>
</ul>
<hr>

<form th:object="${userDto}" th:action="@{/register}" method="POST">
    <p> Hier kannst du dich als neuer User registrieren:</p>
    <p>Benutzername:<input type="text" th:field="*{userName}"></p>
    <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
    <p>Passwort:<input type="password" th:field="*{password}"></p>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    <button type="submit">Registrieren</button>
</form>

<form th:object="${loginDTO}" th:action="@{/login}" method="POST">
    <p> Du bist schon registriert? Hier kannst du dich einloggen:</p>
    <p>Benutzername:<input type="text" th:field="*{userName}"></p>
    <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
    <p>Passwort:<input type="password" th:field="*{password}"></p>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    <button type="submit">Login</button>
</form>

<form th:if="${sessionUser != null}" method="post" th:action="@{/logout}">
    <button type="submit">Logout</button>
</form>


</body>
</html>
