<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>

<body style="background-color: white;">

<br>
<h1>Beitrag mit Kommentaren</h1><br>

<div>
    Post:
    <div th:text="${post.textPost}"></div>
    <br>
    Zeitpunkt:
    <div th:text="${post.dateTime}"></div>
    <br>

</div>


<ul>
    <li th:each="comment : ${post.commentList}">
        User:
        <span th:text="${comment.userId}"></span>
        <br>
        <br>
        Kommentar:
        <div th:text="${comment.textComment}"></div>
        <br>
        Zeitpunkt:
        <span th:text="${comment.dateTime}"></span>
        <br>
    </li>
</ul>



</body>
</html>